<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Formato.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <header class="encabezado">
        <div>
            <img src="itj_logo.png">
        </div>
        <div class="titulos">
            <div>
                <p>
                    SEGUIMIENTO DE LA TRAYECTORIA ACADÉMICA <br>
                    PROGRAMA INSTITUCIONAL DE TUTORÍAS
                </p>
            </div>
            <div class="alumno">
                <p>
                    alumno: <br>
                    {{nombre_alumno}}
                </p>
            </div>
        </div>
    </header>
    <div>
        
    </div>
    <footer class="pie">
        <hr>
        <p>
            Reporte generado por el programa de seguimiento académico realizado por los alumnos:
        </p>
        <div>
            <p class="nombres1">
                Edgar Daniel Magallón Villanueva <br>
                Jaime Daniel Girarte González
            </p>
            <p class="nombres2">
                José Eduardo Poo Tapia <br>
                Luis José Ixta Zamudio
            </p>
        </div>
    </footer>
</body>
</html>